pre-commit
mypy
ipykernel
git+https://github.com/Oxford-Data-Processes/aws-utils.git
pydantic
sqlalchemy
pyathena
fastapi
uvicorn
mangum
pandas
pandas-stubs
bs4
types-beautifulsoup4
pyarrow
requests
types-requests
pyarrow-stubs
